#nav-bar {
  background-color: #00a087;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  color: #e8fdff
}

#nav-bar .logo  {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  border-left: 10px;
  line-height: 80px;
}

#nav-bar button {
  float: right;
  height: 55px;
  width: 110px;
  margin-top: 12px;
  border: 1px black solid;
  border-radius: 10px;
  color: #00a087;
  opacity: .7;
}

#nav-bar button:hover {
  opacity: .9;
}
