.navbar {
  position: fixed;
  width: 95%;
  height: 5em;
  /*background-color: #00a087;*/
  top: 0;
  z-index: 100;
  margin-left: 19px;

  padding-left: 2em;
  padding-right: 2em;
  /*color: #e8fdff*/
}

@media only screen and (max-width: 600px) {
  .navbar .logo  {
    position: absolute;
    left: 1%;
    height: 120%;
  }
}
.navbar .logo  {
  position: absolute;
  left: 5%;
  height: 120%;
}

@media only screen and (max-width: 600px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 26%;
    font-size: 235%;
    border-left: 10px;
    line-height: 80px;
    color: #254752;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 15%;
    font-size: 235%;
    border-left: 10px;
    line-height: 80px;
    color: #254752;
  }
}

@media only screen and (max-width: 600px) {
  #form-button {
    position: absolute;
    right: 7%;
    top: 7%;
    height: 55px;
    width: 110px;
    margin-top: 12px;
    /*border: 1px black solid;
    border-radius: 10px;
    color: #00a087;*/
    opacity: .7;
  }
}

@media only screen and (min-width: 600px) {
  #form-button {
    position: absolute;
    right: 10%;
    height: 55px;
    width: 110px;
    margin-top: 12px;
    /*border: 1px black solid;
    border-radius: 10px;
    color: #00a087;*/
    opacity: .7;
}
}
.navbar button:hover {
  opacity: .9;
}
